/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Calibri;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}

h1, 
h2, 
h3 {
    font-family: Calibri;
    margin: 0 0 2rem 0;
    color: rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 3.8rem;
}

@media (min-width: 768px) { 
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 3.2rem;
}

@media (min-width: 768px) { 
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.4rem;
}

@media (min-width: 768px) { 
    h3 {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: #3a3a3a;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: all ease 300ms ;
    text-align: center;
    border: none;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    background-color: #111111;
}

.float-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0294bd;
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.float-btn a {
    display: block;
    color: #FFF;
}

@media (min-width: 768px) { 
    .btn {
        width: auto;
    }
    .float-btn {
        display: block;
    }
}

/* Utilidades */

.text-center {
    text-align: center;
}

@media (min-width: 768px) { 
    .max-width-30 {
        max-width: 30rem;
    }
}

/* Header y Navegacion */

.contenedor-navegacion{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    top: 0;
    background-color: rgb(255, 255, 255);
}

.logo-torca {
    max-width: 100%;
    transition: all ease 300ms;
    cursor: pointer;
}

.logo-torca:hover{
    transform: scale(1.2);
}

.nav-categorias {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-categorias a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    transition: all ease 300ms; 
}

.nav-categorias a:hover{
    color: rgba(0, 0, 0, 0.3);
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(250, 30, 30);
}

.nav-usuarios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}

.nav-usuarios li{
    display: inline-block; 
    list-style: none;
    margin: 20px;
}

.nav-usuarios li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #3a3a3a;
    transition: all ease 300ms; 
}

.nav-usuarios li a:hover{
    color: rgb(250, 30, 30);
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    /* min-height: 12rem; */
    height: auto;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {     
    .contenedor-navegacion {
        display: flex;
        flex-direction: row;
        position: sticky;
    }

    .nav-categorias {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .nav-categorias a {
        margin-right: 4rem;
    }

}

/* Servicios */

.spot-servicios {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-content: center;
    justify-content: space-between;
}

/* Categorias */

.categorias {
    padding: 5rem 0;
}

.categoria {
    margin-bottom: 2rem;
    transition: all ease 300ms; 
    cursor: pointer;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media (min-width: 768px) { 
    .categoria {
        margin-bottom: 0;
    }
}

.categoria img {
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.categoria:hover {
    background-color: #0294bd;
    border-bottom-right-radius: 1rem;
}

.categoria:hover a {
    color: #FFFFFF;
}

@media (min-width: 768px) { 
    .listado-categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    
}

/* Listado de Productos */

.contenido-principal {
    padding-top: 5rem;
    margin-bottom: 5rem;
}

@media (min-width: 768px) { 
    .listado-productos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .producto:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .producto:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .producto:nth-child(2) img,
    .producto:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(3) {
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .producto:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .producto:nth-child(5) {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .producto:nth-child(6) {
        grid-column-start: 5;
        grid-column-end: 7;
    }
}

.producto {
    background-color: #0294bd;
    margin-bottom: 2rem;
}

@media (min-width: 768px) { 
    .producto {
        margin-bottom: 0;
    }
}

.producto:last-of-type {
    margin-bottom: 0;
}

.texto-producto {
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

/* Footer */

.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3 {
    margin-bottom: .5rem;
    text-align: center;
}

@media (min-width: 768px) { 
    .site-footer h3 {
        text-align: left;
    }
    .grid-footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 1rem;
        justify-items: center;
    }
}

.grid-footer > div {
    margin-bottom: 2rem;
}

@media (min-width: 768px) { 
    .grid-footer > div {
        margin: 0;
    }
}

.footer-menu a {
    display: block;
    text-align: center;
    font-size: 18px;
    transition: all ease 300ms;
}

.footer-menu a:hover{
    color: rgba(0, 0, 0, 0.3);
}

.copyright {
    margin-top: 5rem;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
}

@media (min-width: 768px) { 
    .footer-menu a {
        text-align: left;
    }
}

/* Nosotros */

.contenido-nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr ) );
    column-gap: 4rem;
}

.informacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

@media (min-width: 768px) { 
    .informacion-nosotros {
        padding: 0;
    }
}

/* Galeria */

.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.galeria img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 1rem;
}

@media (min-width: 768px) { 
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Formulario */

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset {
   border: 1px solid black;
   margin-bottom: 2rem;
}

.formulario legend {
    background-color: #0294bd;
    width: 100%;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;

}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo label {
    flex-basis: 10rem;
} 

.campo input:not([type="radio"]),
.campo textarea,
.campo select  {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}